/* index.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* This could be overridden by App.css for specific components */
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
